@charset "utf-8";
/* CSS Document */




.detail-txt table img{float:left}
.capital_top{background:url(http://mh.tgbus.com/mh4g/images/top_2.jpg) no-repeat;}
.Dat_right{background:url(http://mh.tgbus.com/mh4g/images/rightback1.jpg) repeat-y;}
.capita_bottom{background:url(http://mh.tgbus.com/mh4g/images/bottom_3.jpg) no-repeat;}